
<div class="scrollmenu">
  <a class="web" href="#home">Home</a>
  <a  class= "web"href="#news">News</a>
  <a class ="web" href="#contact">Contact</a>
  <a class="web" href="#home">Home</a>
  <a  class= "web"href="#news">News</a>
  <a class ="web" href="#contact">Contact</a>
<a class="web" href="#home">Home</a>
  <a  class= "web"href="#news">News</a>
  <a class ="web" href="#contact">Contact</a>
<a class="web" href="#home">Home</a>
  <a  class= "web"href="#news">News</a>
  <a class ="web" href="#contact">Contact</a>
</div>

