
.site-header {
    border-top: 0px solid $grey-color-dark;
	border-bottom: 4px solid $clemson-purple;
    min-height: 56px;
    background: #f66733;
    // Positioning context for the mobile navigation icon
    position: sticky;
   white-space: nowrap;
   overflow-y: hidden;
   overflow-x: scroll;
}

.web {
    font-size: 26px;
/* 		margin-top: 15px;
    line-height: 40px; */
    letter-spacing: -1px;
    margin-bottom: 0;
    display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
    font-weight: 500;
		font-family: 'Titillium Web', sans-serif;
   
}

/* Aside */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.fa-2x {
    font-size: 2rem;
}
.fa {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    margin:3px;
}
.fa-3x{
font-size: 18px;
}


.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #6E4B73;
    display: flex;
    overflow-x: auto;
    border-top-radius: 5px;
}

.nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}


.nav a:hover {
    background-color: white;
    color: #6E4B73;
}

.nav a--active {
    color: #009578;

}

.nav__icon {
    font-size: 18px;
}
